<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{{ baseurl }}/{{ page.collection }}" class="usa-breadcrumb__link"><span>{{ page.collection | camelcase }}
          Guide</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"><span>Level 1</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"><span>Level 2</span></a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</nav>
