<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="logo">
      <em class="usa-logo__text">
        <a href="/" accesskey="1" title="Home" aria-label="Home"> <img src="/images/18F.svg"
            alt="18F logo with white text on a black square background" width="72">{{ page.collection | capitalize}}
          {{ site.guide_label }}</a>
      </em>
    </div>
    <button type="button" class="usa-menu-btn">{{ site.data.header.menu_label }}</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button type="button" class="usa-nav__close">
        <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item usa-current">
          <a href="" class="usa-nav-link"><span>&lt;Simple link&gt;</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="" class="usa-nav-link"><span>&lt;Simple link&gt;</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="" class="usa-nav-link"><span>&lt;Simple link&gt;</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary usa-header--extended">
        <ul class="usa-nav__secondary-links"></ul>
        {%- include base/search.html -%}
      </div>
    </div>
  </nav>
</header>
