<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

  {%- include base/head.html -%}

  <body>
    {%- include uswds/banner.html -%}
    {%- include uswds/alerts.html -%}
    {%- include base/header.html -%}
    {%- include uswds/breadcrumb.html -%}

    <main class="page-content" aria-label="Content">
      <div class="grid-container">
        <div class="grid-row">
          {{ content }}
        </div>
      </div>
    </main>

    {%- include base/footer.html -%}
  </body>

</html>
