<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="{{ site.baseurl }}/assets/uswds/img/us_flag_small.png"
            alt="{{ site.data.base.banner.flag }}" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">
            {{ site.data.base.banner.header }}
          </p>
          <p class="usa-banner__header-action" aria-hidden="true">
            {{ site.data.base.banner.action }}
          </p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false"
          aria-controls="gov-banner-default-default">
          <span class="usa-banner__button-text">{{ site.data.base.banner.action }}</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner-default-default">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-dot-gov.svg"
            role="img" alt="" aria-hidden="true" />
          <div class="usa-media-block__body">
            <p>
              {{ site.data.base.banner.official }}
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg"
            role="img" alt="" aria-hidden="true" />
          <div class="usa-media-block__body">
            <p>
              {{ site.data.base.banner.secure }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
