<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="javascript:void(0)" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="{{ site.designurl }}/assets/img/circle-gray-20.svg"
            alt="{{ site.agency_primary }} logo" role="img" />
        </a>
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="{{ site.designurl }}/assets/img/circle-gray-20.svg"
            alt="{{ site.agency_secondary }} logo" role="img" /></a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">
          {%- if site.author -%}
          {{ site.author | escape }}
          {%- else -%}
          {{ site.title | escape }}
          {%- endif -%}
        </p>
        <p class="usa-identifier__identity-disclaimer">
          {{ site.data.base.identifier.agency_prefix }} <a href="">{{ site.agency_primary }}</a>
          {{ site.data.base.identifier.agency_suffix }} <a href="javascript:void(0)">{{ site.agency_secondary }}</a>
        </p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,,,">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        {% for link in site.data.base.identifier.nav %}
        <li class="usa-identifier__required-links-item">
          <a href="{{ link.url }}" class="usa-identifier__required-link usa-link">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        {{- site.description | escape -}}
      </div>
    </div>
  </section>
</div>
