<div class="grid-row grid-gap">
  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);" class="usa-current">Child link</a>
            </li>
          </ul>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tablet:grid-col-4">
    <nav aria-label="Side navigation,,,">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current">Current page</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);">Grandchild link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);" class="usa-current">Grandchild link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="javascript:void(0);">Grandchild link</a>
                </li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <a href="javascript:void(0);">Child link</a>
            </li>
          </ul>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);">Parent link</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<aside>
  <h4>Remember</h4>
  <strong>Small site. </strong>Small site. If the site has fewer than five pages, consider organizing the page without a
  navigational hierarchy.
  <strong>Existing navigation. </strong>If your page already has a horizontal and vertical navigation bar, consider ways
  to simplify your navigation system.
</aside>
